.profileStat {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 86px;
  border: 1px solid #bbb;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.profileStat p:first-child {
  padding: 5px;
  text-align: center;
  background-color: #ebebeb;
  border-bottom: 1px solid #bbb;
}

.profileStat p:last-child {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-weight: bold;
  background-color: #fafafa;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 5px;
}
