@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #FAFAFA;
  overflow-y: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.full-compact-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #0f71b4;
  text-transform: lowercase;
}

.MuiTabs-indicator {
  background-color: white;
}

div[role="tooltip"] {
  z-index: 15 !important;
}

.interactable {
  cursor: pointer;
  transition: all linear 0.1s;
}

.interactable:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.sticky {
  position: sticky !important;
  top: 0;
  background-color: #FAFAFA;
  box-shadow: none !important;
  min-height: 68px;
}
.scrolled .sticky {
  z-index: 10;
  box-shadow: 0px 3px 5px 0px lightgrey !important;
  background-color: #FAFAFA !important;
  overflow: hidden;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
}
.scrolled .sticky .unitName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.onlyScrolled:not(.scrolled *) {
  display: none !important;
}

@media print {
  body {
    zoom: 65%;
  }
  .columns {
    display: table !important;
  }
  .columns > .column {
     display: inline-block !important;
     vertical-align:top;
  }
  .no-print {
    display:none !important;
  }
}