@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #FAFAFA;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.full-compact-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #0f71b4;
  text-transform: lowercase;
}

.MuiTabs-indicator {
  background-color: white;
}

.interactable {
  cursor: pointer;
  transition: all linear 0.1s;
}

.interactable:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

@media print {
  body {
    zoom: 65%;
  }
  .columns {
    display: table !important;
  }
  .columns > .column {
     display: inline-block !important;
     vertical-align:top;
  }
  .no-print {
    display:none !important;
  }
}